lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
results
tmp

# ignore logs
logs
*.log

# Coverage reports
coverage

# API keys and secrets
.env*
!.env.example

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
build/**/*

# privacy data
certificates

# next
.next/
